@import url("https://fonts.cat.net/css?family=Roboto+Slab");
@import url("https://fonts.cat.net/css?family=Fredericka+the+Great");
@import url("https://fonts.cat.net/css?family=Josefin+Sans");

#auth {
  border-radius: 0;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, .25);
  height: 100%;
  margin: 0 auto;
  padding: 40px 30px 30px;
  position: relative;
  top: 0;
  min-width: 250px;
  .v-code {
    position: relative;
    img {
      background: transparent;
      cursor: pointer;
      height: 46px;
      position: absolute;
      right: 0px;
      top: 2px;
      width: auto;
    }
  }
  .logo {
    margin-bottom: 20px;
    img {
      display: block;
      margin: 0 auto;
      width: 160px;
    }
  }
  .gl-title {
    h1 {
      font-family: "Josefin Sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
    }
    h5 {
      font-family: "Josefin Sans", "Microsoft YaHei", Helvetica, sans-serif;
      font-weight: 300;
    }
  }
  .gl-textbox {
    .gl-textbox-label {
      color: rgba(0, 0, 0, 0.6)
    }
    .gl-textbox-input {
      border-color: rgba(0, 0, 0, 0.2);
    }
    .gl-textbox-line {
      background-color: #000
    }
    &.label-float.on-focus {
      .gl-textbox-label {
        color: #000
      }
    }
  }
  #auth-fotter {
    bottom: 30px;
    left: 0;
    padding: 0px 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
  }
}